.Button {
   padding: 5px 15px;
   margin: 10px;
   color: teal;
   font-size: 14px;
   background: transparent;
   border: 1px solid teal;
   cursor: pointer;
}

.clear {
   padding: 0;
   margin: 0;
   border: none;
   background: none;
   outline: none;
}
