:root {
   --red-color: rgba(197, 3, 3, 0.65);
   --blue-color: rgba(75, 192, 192, 0.8);
}

.body {
   min-width: 90vw;
   height: 75vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border: 1.5px solid teal;
   margin: 10px;
}

.legend {
   font-size: 2.5vh;
}

.expense:before {
   content: '.';
   background-color: var(--blue-color);
   color: var(--blue-color);
   width: 3vh;
   display: inline-block;
   margin: 0 0.5vh 0 0.5vh;
}
.highestExpense:before {
   content: '.';
   background-color: var(--red-color);
   color: var(--red-color);
   width: 3vh;
   display: inline-block;
   margin: 0 0.5vh 0 2.5vh;
}

.chartConfig {
   margin: 10px;
}

.head {
   margin: 0 10px;
}
