.app.dark {
   --bg-color: #0c0c5a;
   --inverted-bg-color: rgb(250, 250, 250);

   --primary-color: #15b915;
   --secondary-color: #00d300;

   --inverted-primary-color: #0635c2;
   --inverted-secondary-color: #2162f0;
}
