.app.light {
   --bg-color: rgb(250, 250, 250);
   --inverted-bg-color: #0c0c5a;

   --primary-color: #0635c2;
   --secondary-color: #0449e0;

   --inverted-primary-color: #15b915;
   --inverted-secondary-color: #0de20d;
}
