.Navbar {
   height: var(--navbar-height);
   width: 100vw;
   display: flex;
   align-items: center;
   padding: 10px 15px;
   background: var(--inverted-bg-color);
}

.Links {
   margin-left: auto;
}

.MainLink {
   margin-right: 15px;
}
